<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpAgzMsYLCf7Xq47AMinZy_BzHm4VcBZY</string>
	<key>GCM_SENDER_ID</key>
	<string>201454016764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicVideoPlayer</string>
	<key>PROJECT_ID</key>
	<string>basic-video-player-9ea5a</string>
	<key>STORAGE_BUCKET</key>
	<string>basic-video-player-9ea5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201454016764:ios:30ed1942282245b6d11f79</string>
</dict>
</plist>